package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{contract_version}};
  import greentic:extension-host/logging@{{contract_version}};
  import greentic:extension-host/i18n@{{contract_version}};
  import greentic:extension-host/secrets@{{contract_version}};
  import greentic:extension-host/http@{{contract_version}};

  export greentic:extension-base/manifest@{{contract_version}};
  export greentic:extension-base/lifecycle@{{contract_version}};
  export greentic:extension-deploy/targets@{{contract_version}};
  export greentic:extension-deploy/deployment@{{contract_version}};
}
