package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{v_base}};
  import greentic:extension-host/logging@{{v_host}};
  import greentic:extension-host/i18n@{{v_host}};
  import greentic:extension-host/secrets@{{v_host}};
  import greentic:extension-host/http@{{v_host}};

  export greentic:extension-base/manifest@{{v_base}};
  export greentic:extension-base/lifecycle@{{v_base}};
  export greentic:extension-deploy/targets@{{v_deploy}};
  export greentic:extension-deploy/deployment@{{v_deploy}};
}
