package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{contract_version}};
  import greentic:extension-host/logging@{{contract_version}};
  import greentic:extension-host/i18n@{{contract_version}};
  import greentic:extension-host/broker@{{contract_version}};

  export greentic:extension-base/manifest@{{contract_version}};
  export greentic:extension-base/lifecycle@{{contract_version}};
  export greentic:extension-bundle/recipes@{{contract_version}};
  export greentic:extension-bundle/bundling@{{contract_version}};
}
