package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{wit_version_base}};
  import greentic:extension-host/logging@{{wit_version_host}};
  import greentic:extension-host/i18n@{{wit_version_host}};
  import greentic:extension-host/secrets@{{wit_version_host}};
  import greentic:extension-host/broker@{{wit_version_host}};
  import greentic:extension-host/http@{{wit_version_host}};

  export greentic:extension-base/manifest@{{wit_version_base}};
  export greentic:extension-base/lifecycle@{{wit_version_base}};
  export greentic:extension-design/tools@{{wit_version_design}};
  export greentic:extension-design/validation@{{wit_version_design}};
  export greentic:extension-design/prompting@{{wit_version_design}};
  export greentic:extension-design/knowledge@{{wit_version_design}};
}
