package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{v_base}};
  import greentic:extension-host/secrets@{{v_host}};
  import greentic:extension-host/http@{{v_host}};

  export greentic:extension-base/manifest@{{v_base}};
  export greentic:extension-base/lifecycle@{{v_base}};
  export greentic:extension-design/tools@{{v_design}};
}
