package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{base_version}};
  import greentic:extension-host/secrets@{{host_version}};
  import greentic:extension-host/http@{{host_version}};

  export greentic:extension-base/manifest@{{base_version}};
  export greentic:extension-base/lifecycle@{{base_version}};
  export greentic:extension-design/tools@{{design_version}};
}
