package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{v_base}};
  import greentic:extension-host/logging@{{v_host}};
  import greentic:extension-host/i18n@{{v_host}};
  import greentic:extension-host/secrets@{{v_host}};
  import greentic:extension-host/broker@{{v_host}};
  import greentic:extension-host/http@{{v_host}};

  export greentic:extension-base/manifest@{{v_base}};
  export greentic:extension-base/lifecycle@{{v_base}};
  export greentic:extension-design/tools@{{v_design}};
  export greentic:extension-design/validation@{{v_design}};
  export greentic:extension-design/prompting@{{v_design}};
  export greentic:extension-design/knowledge@{{v_design}};
}
