package {{id_wit}};

world extension {
  import greentic:extension-base/types@{{contract_version}};
  import greentic:extension-host/logging@{{contract_version}};
  import greentic:extension-host/i18n@{{contract_version}};
  import greentic:extension-host/secrets@{{contract_version}};
  import greentic:extension-host/broker@{{contract_version}};
  import greentic:extension-host/http@{{contract_version}};

  export greentic:extension-base/manifest@{{contract_version}};
  export greentic:extension-base/lifecycle@{{contract_version}};
  export greentic:extension-design/tools@{{contract_version}};
  export greentic:extension-design/validation@{{contract_version}};
  export greentic:extension-design/prompting@{{contract_version}};
  export greentic:extension-design/knowledge@{{contract_version}};
}
